.BoldText
{
	font-weight:bold
}
.SmallText
{
	font-size: small
}
.MenuLeft
{
	float: left;
	width: 15%;
	margin: 7px;
}
.GeneralContent
{
	float: right;
	width: 79%;
	margin: 7px;
	border: 1px solid #a7d7f9;
	padding: 15px;
}
.Footer
{
	float: right;
	width: 79%;
	margin: 7px;
	padding: 15px;
}
.NonMarker
{
	list-style-type : none;
}
.Schema
{
	float: right;
	display: block;
    max-width: 100%;
}
img 
{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.FrameBlue
{
	background: #eaf3ff;
    border: 1px solid #c8ccd1; 
	padding: 5px;
    text-align: center;
}
.FrameContent
{
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1; 
	padding: 15px;
}
#VarningFrame
{
	margin: 0 10%;
    border: 1px solid #a2a9b1;
	background: #fbfbfb;
	padding: 15px 15px 15px 20px;
	border-left: 10px solid #f28500;
}
#DetaleFrame
{
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1; 
	padding: 15px;
	margin-left: 60px;
    margin-right: 60px;
}



